/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.loopVideo {
    box-shadow: 0 0px 30px rgb(0 0 0 / 20%);
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
}

.bannerBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .bannerBanner {
    padding: 2rem;
  }

  .loopVideo {
    width: 70%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* CSS for features */
.overview {
  padding: 80px 0px;
}

.overviewAlt {
  /* Add a bit of transparency */
  background-color: var(--ifm-color-emphasis-100);
}

.overviewInner {
  margin: 0px auto;
}


/* Topmost banner */
.featureImage {
  margin: 0px auto;
  max-width: 50%;
  max-height: 120px;
}

.featureHeading {
  font-size: var(--ifm-h2-font-size);
  padding-top: 1em;
}

.title  {
  font-weight: 600;
  text-align: center;
  font-size: var(--ifm-h3-font-size);
  padding: 30px;
  margin: 0px auto;
}

.titleInner {
  max-width: 768px;
  margin: 0px auto;
}

.titleDark {
  color: #fff;
  background-color: #000;
}

.banner {
  background-color: #2b3137;
  padding: 48px;
}

.bannerInner {
  margin: 0px auto;
  max-width: 1100px;
  padding: 0 20px;
}

.bannerProjectTagline {
  color: #fff;
  font-size: 40px;
  margin: 0px;
}

.bannerTitleTextHtml b {
  color: var(--ifm-color-primary);
}


.logo {
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
}


/* GitHub stars icon */
.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.indexCtas a {
  color: #fff !important;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}

.indexCtaTryNowButton:hover {
  color: var(--ifm-color-primary);
}

@media only screen and (max-width: 768px) {
  .banner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bannerInner {
    padding: 0;
  }

  .bannerProjectTagline {
    font-size: 36px;
    text-align: center;
  }

  .logo {
    display: block;
    float: none;
    margin: 0px auto;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtas a {
    margin: 20px 36px;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}
