<footer>
  <div class="menubar">
    <ul>
    {% for item in site.data.menu.footer %}
        <li><a href="{{ item[1] | prepend: site.baseurl }}">{{ item[0] }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <p>Brought to you by the same team that develops Kompose</p>
  <a href="https://github.com/kubernetes/kompose"><img class="logos" src="/img/kubernetes.png"></img></a>
  <p class="misc">{{ site.license }}<br>{{ site.copyright }}</p>
  <!-- ICONS -->
  <script src="/js/icons.js"></script>
</footer>
