<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Linux</span>
<span class="s">curl -L https://github.com/kedgeproject/kedge/releases/download/v0.2.0/kedge-linux-amd64 -o kedge</span>

<span class="c1"># macOS</span>
<span class="s">curl -L https://github.com/kedgeproject/kedge/releases/download/v0.2.0/kedge-darwin-amd64 -o kedge</span>

<span class="s">chmod +x kedge</span>
<span class="s">sudo mv ./kedge /usr/local/bin/kedge</span>
</code></pre>
</div>
