<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <link href="/css/hljs-github.min.css" rel="stylesheet" type="text/css">

  <body>
    <header>
      <div id="hero">
        <div class="inner">
          <div class="left">
                  <div class="icons"></div>
                  <img class="hero-logo" src="img/logo.png" style="" title="">
          </div>
          <div class="right">
            <h2>
            OpenShift Developer Optimization
            </h2>
            <p><a class="button" href="{{ site.docs_index }}">Get Started</a> <a class="button white" href="{{ site.repository_url }}" target="_blank">GitHub</a></p>
          </div>
        </div>
        <div class="features">
          <section>
            <h3>Deploy with one command</h3>
            <p>Odo is an OpenShift tool to deploy applications in a fast and optimized manner.
            </p>
          </section>
          <section>
            <h3>Get up and running faster</h3>
            <p>
            No need to use .yaml files, create and and deploy your applications instantly.
            </p>
          </section>
          <section>
            <h3>Multiple frameworks</h3>
            <p>
            Use any OpenShift Source-to-Build image to deploy your application. Odo supports: Ruby, Java, .NET, Node.js, Perl, Python.
            </p>
          </section>
        </div>
      </div>
      <nav class="links">
        <a href="{{ site.docs_index }}">Documentation</a> <a href="{{ site.repository_url }}" target="_blank">GitHub</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Take your application source code and let OpenShift take care of the rest.</h2>
        <p>Kedge will convert the defined definitions to their Kubernetes equivalent. Utilize intuitive Kedge shortcuts and look through our <a href="/file-reference">file reference</a>.</p>
        <div class="examples">
          <div class="example">
            <p><strong>Web server Kedge example</strong></p>
            <pre><code class="yaml">name: httpd
containers:
  - image: centos/httpd
services:
  - name: httpd
    type: LoadBalancer
    portMappings: 
      - 8080:80
  </code></pre>
          </div>
          <div class="example">
            <div class="kubernetes">
              <p><strong>Converted Kubernetes artifact file(s)</strong></p>
              <pre><code class="yaml">---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: httpd
  name: httpd
spec:
  ports:
  - name: httpd-8080
    port: 8080
    protocol: TCP
    targetPort: 80
  selector:
    app: httpd
  type: LoadBalancer
status:
  loadBalancer: {}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: httpd
  name: httpd
spec:
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: httpd
      name: httpd
    spec:
      containers:
      - image: centos/httpd
        name: httpd
        resources: {}
status: {}
  </code></pre>
            </div>
          </div>
          <p>Just run <code>kedge apply -f httpd.yaml</code> and it's directly deployed to your cluster.</p>
        </div>
      </section>
      <section>
        <h2>Get started immediately with our interactive tutorial</h2>

        <!-- KATACODA TUTORIAL
        <script src="//katacoda.com/embed.js"></script>
        <div id="katacoda-scenario-1"
        data-katacoda-id="mjelen/courses/introduction/developing-with-odo"
        data-katacoda-color="004d7f"
        style="height: 600px; padding-top: 20px;"></div>
        -->

      </section>
    </main>
    <footer>
      <a class="button" href="{{ site.docs_index }}">Get Started</a>
      <div class="content">
        <nav>
          <h3>Documentation</h3>
          <div>
            <ul>
            {% for item in site.data.menu.documentation_footer_1 %}
                <li><a href="{{ item[1] | prepend: site.baseurl }}">{{ item[0] }}</a></li>
            {% endfor %}
            </ul>
            <ul>
            {% for item in site.data.menu.documentation_footer_2 %}
                <li><a href="{{ item[1] | prepend: site.baseurl }}">{{ item[0] }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </nav>
        <nav>
          <h3>Links</h3>
          <ul>
          {% for item in site.data.menu.footer %}
              <li><a href="{{ item[1] | prepend: site.baseurl }}">{{ item[0] }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <img src="/img/redhat-logo.png" class="redhat-logo"></img>
        <p>
        {{ site.copyright }}
        </p>
      </div>
    </footer>
    <div></div>
  </body>

  <!-- ICONS -->
  <script src="/js/icons.js"></script>
</html>
