.main { padding: 16px; }
mat-card { margin-bottom: 16px; }
mat-card-content { padding: 16px; }
.command {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee;
    padding: 4px;
    margin: 4px;
}
.parallel-command {
    margin: 8px;
}
.serial-commands {
    margin: 4px;
}
h2 {
    color: #3f51b5;
}
div.align-right {
    text-align: right;
}
