name: odo-podman-test
on:
  pull_request:
    branches:    
      - main


jobs:
  ODO-PODMAN-TEST:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'

    - name: Build odo
      run: make install

    - name: Run Integration tests
      env:
        PODMAN_EXEC_NODES: 10
      run: make test-integration-podman

    - name: List and stop remaining containers
      if: ${{ always() }}
      run: |
        podman pod ls --format '{{.Name}}' | xargs -I '{}' podman pod inspect '{}'
        podman pod ls --format '{{.Name}}' | xargs podman pod stop || true
