name: Mark and close stale issues and pull requests

# Please refer to https://github.com/actions/stale/blob/master/action.yml
# to see all config knobs of the stale action.

on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  stale:

    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v8
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'A friendly reminder that this issue had no activity for 90 days. Stale issues will be closed after an additional 30 days of inactivity.'
        stale-pr-message: 'A friendly reminder that this PR had no activity for 90 days. Stale PRs will be closed after an additional 30 days of inactivity.'
        stale-issue-label: 'lifecycle/stale'
        close-issue-label: 'lifecycle/rotten'
        exempt-issue-labels: 'lifecycle/active,lifecycle/frozen'
        stale-pr-label: 'lifecycle/stale'
        close-pr-label: 'lifecycle/rotten'
        exempt-pr-labels: 'lifecycle/active,lifecycle/frozen'
        days-before-stale: 90
        days-before-close: 30
        close-issue-message: "This issue was closed because it has been inactive for 30 days since being marked as stale."
        close-pr-message: "This PR was closed because it has been inactive for 30 days since being marked as stale."
        remove-stale-when-updated: true